@import "tailwindcss";

/* Твои кастомные утилиты для iOS-стиля */
@utility scrollbar-none {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Принудительный сброс для всех элементов под Inter (iOS стиль) */
* {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F7; /* Тот самый системный серый фон iOS */
  color: #000000;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}